RewriteEngine On

RewriteBase /masterservice/

RewriteRule ^nyomkovetes index.php?m=masterservice&act=mandate_tracking

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.*)\?*$ masterservice/index.php/$1 [L]